<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="feeorder_sales_address_save_fee" instance="AHT\ProductFee\Observer\SalesModelServiceQuoteSubmitBefore" />
    </event>

    <event name="payment_cart_collect_items_and_amounts">
        <observer name="feeorder_sales_payment_cart_save_fee" instance="AHT\ProductFee\Observer\PaymentCartCollectItensAndAmounts" />
    </event>
</config>